.Contact-content {
    display: flex;
    height: 90vh;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;

    @media(min-width: 769px) {
        flex-wrap: nowrap;
    }

    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1rem;
        width: 20rem;
        color: #88B9FE;
    }
}

.form-contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.form-input-contact {
    width: 80vw;

    @media (min-width: 769px) {
        width: 25vw;
    }
}

.form-textarea-contact {
    width: 80vw;

    @media(min-width: 769px) {
        width: 60vw;
    }
}

.Contact-infographic {
    height: fit-content;
    width: 200px;
    float: right;

    @media (min-width: 769px) {
        height: fit-content;
        width: 250px;
        margin-top: 4rem;
        margin-left: -17rem;
        
    }
}

.mantine-7u23zf {
    background-color: #88B9FE;
    color: white;
    }


.Constact-message-sent {
    display: none;

    &>h2 {

        @media(min-width: 769px) {
            padding-left: 2rem;
        }
        
    }
}

.showSendMessage {
    display: flex;
    margin-top: 9rem;
    width: 0;

    @media (min-width: 769px) {
        margin-left: -6rem;
        width: 2vw;
    }
}

.hideForm {
    display: none;
}