.list-group-articles {
    width: 80vw;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}
.list-group-article {
    display: flex;
    flex-direction: column;
    height: 32rem;
    width: 35vw;
    align-items: center;
    justify-content: space-between;
}

.article-title {
    text-transform: none;
    font-weight: 400;
    width: 36vw;
}

.article-image {
    height: 45%;
    width: auto;
    margin-bottom: 1.5rem;
}

.image-nr-2 {
    height: 45%;
    width: auto;
}
.image-nr-4 {
    height: 43%;
    width: auto;
    
}

.article-content {
    line-height: 150%;
}
.article-content-4 {
    margin-top: -1rem;
}

.ButtonArticle {
    width: 15rem;
    background-color: #88B9FE;
    color: white;
}

.pagination-articles {
    justify-content: center;
}

.mantine-ubljlr[data-active] {
background-color: #88B9FE;;
}

.list-group-one-article {
    height: auto;
    width: 80vw;
    gap: 2rem;
}

.one-article-title {
    width: 80vw;
    font-size: 4rem;
    overflow: auto;
    padding-top: 0.5rem;
}
.one-article-image {
    width: 40vw;
}

.one-article-content {
    line-height: 200%;
}