.PageHeader {
    display: flex;
    justify-content: space-between;
    color: black;
    flex-direction: column;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    position: relative;

    .PageHeader__Logo-Burger {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    @media (min-width: 769px) {
        flex-direction: row;
}
}

