.calculator__content {
    display: flex;
    gap: 30px;
    flex-direction: column-reverse;

    @media (min-width: 769px) {
        flex-direction: row;
        margin-top: 50px;
        margin-left: 50px;
    }


    .calculator__infograph {
        background-image: url('https://iv.pl/images/b3147e60940dce9040dcbd9578647ee1.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 60vw;
        height: 35vh;
        margin: 0 auto;
        position: relative;


        @media (min-width: 769px) {
            margin-top: 50px;
            height: 20rem;
            width: 37rem;
            padding-bottom: 3.5rem;
            padding-right: 1.5rem;
        }

        &:before {
            height: 2rem;
            content: " ";
            position: absolute;
            border-left: 0.7rem solid transparent;
            border-right: 0.7rem solid transparent;
            border-bottom: 1rem solid #5877A4;
            border-radius: 0.5rem;

            transform-origin: 50% 100%;
            animation: slide 5s ease-in-out infinite;
            
            @keyframes slide {
                0%,
                100% {
                  transform: rotate(-85deg);
                }
              
                50% {
                  transform: rotate(85deg);
                }
              }

                border-bottom: 6rem solid #5877A4;
                border-radius: 1rem;
                left: 50%;
                bottom: 39.3%;
        }
      }       
    }

    .calculator__infograph-under-weight:before {
        animation: slide1 5s ease-in-out  !important;
            
        @keyframes slide1 {
            0%,
            100% {
                transform: rotate(-80deg);
            }
        }
    }
    .calculator__infograph-normal-weight:before {
        animation: slide2 5s ease-in-out infinite !important;
            
        @keyframes slide2 {
            0%,
            100% {
                transform: rotate(-45deg);
            }
        }
    }
    .calculator__infograph-over-weight:before {
        animation: slide3 5s ease-in-out infinite !important;
            
        @keyframes slide3 {
            0%,
            100% {
                transform: rotate(0deg);
            }
        }
    }
    .calculator__infograph-obese:before {
        animation: slide4 5s ease-in-out infinite !important;
            
        @keyframes slide4 {
            0%,
            100% {
                transform: rotate(45deg);
            }
        }
    }
    .calculator__infograph-extreme-obese:before {
        animation: slide5 5s ease-in-out infinite !important;
            
        @keyframes slide5 {
            0%,
            100% {
                transform: rotate(85deg);
            }
        }
    }



    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1rem;
        width: 20rem;
        color: #88B9FE;
        border-radius: 10px;
        align-items: center;
        display: flex;
        justify-content: center;

        @media (min-width: 769px) {
            
        }
        
    }


.calculator {
    margin: 0 auto;
    width: 20rem;

    @media (min-width: 769px) {
        margin-right: 50px;
    }
}

.calculator-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}


.mantine-pggm6s {
    width: 20rem;
}

.mantine-7u23zf {
    height: 3rem;
    margin-top: 2rem;
    color: #88B9FE;
}

.ButtonCalculate-active {
    background-color: #88B9FE;
    color: white;

    &:hover {
        background-color: #9FC7FE;
    }
}
.result-of-calculator {
    display: none;
    font-size: 2rem;
    width: 35.8%;

}
.show {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hide {
    display: none;
}

.result_bmi-and-cpm {
    font-size: 3.5rem;
    color: #88B9FE;
    margin-top: 1rem;
}

.carbs-fats-proteins {
    display: flex;
    justify-content: space-around;

    .proteins, .fats, .carbs {
        width: 8rem;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        align-items: center;
    }
}
