.MainPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 769px) {
        max-width: 1350px;
        flex-direction: row;
        margin: 50px auto;
        align-items: flex-start;
        gap: 30px;
    }
}

.MainPage-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    width: 70vw;

    @media (min-width: 769px) {
        width: 30vw;
    }
    h1 {
        font-size: 5rem;
        font-family: 'Kalam', cursive;
        color: #555555;
    }

    .Button-main-page {
        width: 10rem;
        align-self: end;
        background-color: #88B9FE;
        margin-top: 30px;
    }
    
}

.MainPage-infographic {
    width: 60vw;
    height: 35vh;
    margin: 0 auto;

    @media (min-width: 769px) {
        margin-top: 50px;
        height: auto;
        width: 50vw;
        float: right;
        }
}